* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradientBg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    341deg,
    rgba(0, 188, 212, 1) 0%,
    rgba(180, 178, 180, 1) 92%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    341deg,
    rgba(0, 188, 212, 1) 0%,
    rgba(180, 178, 180, 1) 92%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    341deg,
    rgba(0, 188, 212, 1) 0%,
    rgba(180, 178, 180, 1) 92%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BCD4', endColorstr='#B4B2B4', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    341deg,
    rgba(0, 188, 212, 1) 0%,
    rgba(180, 178, 180, 1) 92%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    341deg,
    rgba(0, 188, 212, 1) 0%,
    rgba(180, 178, 180, 1) 92%
  );
}

.gradientText {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionPadding {
  padding: 4rem 6rem;
}
.sectionMargin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .sectionPadding {
    padding: 4rem 2rem;
  }
  .sectionMargin {
    margin: 4rem 2rem;
  }
}
