.footer {
  border: 1px solid salmon;
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
  transition: 1s ease-in-out;
}

.footerHeading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.footerHeading h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 40px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: 1.5px;
}

.footerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid white;
  text-align: center;
  margin-bottom: 10rem;
}

.footerBtn p {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  font-family: var(--font-family);
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: left;
  transition: 1s ease-in-out;
}

.footerLinks div {
  width: 250px;
  margin: 1rem;
}

.footerLinksLogo {
  display: flex;
  flex-direction: column;
}

.footerLinksLogo img {
  width: 118px;
  height: 30px;
  margin-bottom: 25px;
}
.footerLinksLogo p {
  color: white;
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 20px;
}

.footerLinksDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footerLinksDiv h4 {
  color: white;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
  margin-bottom: 15px;
}

.footerLinksDiv p {
  color: white;
  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}

.footerCopyright {
  text-align: center;
  font-style: normal;
  margin-top: 2rem;
  font-size: 18px;
  width: 100%;
}

@media (max-width: 768px) {
  .footer {
    margin: 2rem;
  }
  .footerLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: start;
  }
  .footerBtn {
    margin-bottom: 4rem;
  }
}
